*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: #f2f3f7;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header{
    max-width: 100%;
    height: 150px;
    background-color: maroon;
    box-shadow: 0px 0px 6px 0px #d6d6d6; 
  }
  header h3{
  margin: -70px 0px 0px 150px;
  }
  .profile-container{
    display: flex;
    position: absolute;
    left: 83%;
    top: 5%;
    margin-top: 20px;
  
   
  }
  .profile-container i{
    margin-top: 10px;
    color: #2f2d30;
    font-size: 1.2rem;
   
  }
  
  .profile-container a:nth-child(2){
    margin-right: 15px;
    margin-left: 20px;
  }
  
  .profile-container span{
    background-color: #f2f3f7;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
    margin-right: 8px;
  }
  .profile-menu{
    background-color: #ffffff;
    position: relative;
    top:50px;
    left: -190px;
    width: 225px;
    display: none;
    font-size: 1.2rem;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 1px 1px 1px 1px rgb(116, 114, 114);
  }
  .show{
    display: block;
  }
  .profile-menu li{
    list-style: none;
  margin-left: 10px;
    
  }
  .profile-menu hr{
    width: 100%;
    margin-left: -1px;
    opacity: 0.2;
  }
  .profile-menu a{
    text-decoration: none;
    color: rgb(44, 43, 43);
  }
  .profile-menu a:hover{
    color: white;
  }
  .profile-menu li:hover{
    background-color: #0f6cbf;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-left: 0;
  }
  
  .column1 {
    float: left;
    width: 17%;
    padding: 10px;
  }
  
  .column2 {
    float: left;
    width: 83%;
    padding: 10px;
  } 
  
  .searchbar{
    float: left;
    margin-top: 55px;
    margin-right: 50px;
    position: absolute;
    margin-left: 10px;
  }
  
  .searchbox{
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    float: left;
  }
  .searchbar i{
    position: relative;
    left: -35px;
    top: 14px;
    cursor: pointer;
  }
  
  .search{
    padding: 10px;
    width: 102px;
    border: none;
    font-size: 16px;
  }
  nav{
    float: left;
  margin-top: 20px;
  white-space: 10px;
  height: 100%;
  }
  
  img{
    height: 150px;
    align-self: center;
  }
  a{
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
    display: block;
    padding: 4px;
  }
  
  i{
    margin-right: 5px;
    margin-left: 10px;
  }
  
  h1{
    position: relative;
    left: 9px;
    margin-top: 30px;
  }
  
  .spec{
    color: grey;
  }
  
  button{
    padding: 8px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  button:hover{
    background-color: black;
    color: white;
  }
  main{
    margin-top: 20px;
    background-color: #ffff;
  }
  .dash-cards{
    width: 70%;
    height: 60%;
    background-color: rgb(212, 210, 210);
    border-radius: 28px;
    position: absolute;
    color: black;
      margin-bottom: 30px;
    text-align: center;
    
  }
  .dash-cards:nth-child(1){
    left: 25%;
  }
  .dash-cards:nth-child(2){
    left: 60%;
  }
  .dash-cards:nth-child(3){
  top: 96%;
    left: 25%;
  }
  .dash-cards:nth-child(4){
    top:96%;
    left: 60%;
    
  }
  .dash-cards:nth-child(5){
  top: 133%;
    left:25%
  }
  .dash-cards:nth-child(6){
    top:133%;
    left: 60%;
   
  }
  .dash-cards p{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .dash-cards span{
    float: right;
    border-radius: 20px;
    width: 90px;
    height: 40px;
   font-size: 1rem;
    margin-bottom: 6px;
    margin-right: 10px;
    background-color: #a01aed;
    color: #ffffff;
    border: none;
    padding-top: 9px;
    padding-left: 9px;
    box-shadow: 5px 5px 5px 0 gray;
  }
  footer{
    position: absolute;
    bottom: -100%;
    background-color: #2f2d30;
    width: 100%;
    color: #d6d6d6;
    text-align: center;
    clear: both;
  }
  hr{
    width: 30%;
    margin-left: 40%;
  }
  footer a{
    text-decoration: none;
    color: #d6d6d6;
  }
  #genric{
    margin-top: 10px;
    text-align: center;
    float: left;
  }
  #left-links{
    float: left;
    font-size: 1.2rem;
    display: inline;
    margin-top: 10px;
  }
  #right-links{
    top:10px;
    left: 85%;
    margin-top: 0;
    font-size: 1.2rem;
    position: absolute;
  }
  @media screen  and (max-width:600px) {
    nav, main{
        width:100%;
    }
    
  }
  input{
    height: 32px;
    margin: 10px;
    padding: 10px;
    font-family: Raleway;
    font-size: 16px;
  }

  input.invalid{
    background-color: #ffb0b0;
  }

  select{
   width: 200px;
   height: 20px;
   margin-bottom: 10px;
  
  }
  .dropbtn {
    background-color: #9ba29b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right:0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}
 
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #828682;
  }
 
  .center-btn{
    text-align: center;
  }

  /*Styling the apply button*/
  .apply-btn{
    height: 40px;
    width: 85px;
    border-style: none;
    background-color: rgb(81, 197, 81);
    border-radius: 10px;
    padding: 9px;
  }

  .apply-link{
    color: white;
  }
  .upload-container{
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
  }
  

  #file-chosen1{
    margin-left: 0.3rem;
    font-family: sans-serif;
    font-size: 18px;
  }

  #file-chosen2{
    margin-left: 0.3rem;
    font-family: sans-serif;
    font-size: 18px;
  }

  #file-chosen3{
    margin-left: 0.3rem;
    font-family: sans-serif;
    font-size: 18px;
  }
